@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Jersey+10&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box; /* makes the “paper” not go over the window */
}

body {
  margin: 0;
  font-family: "Patrick Hand", cursive;
  background-image:url("images/background.jpeg");
  background-size: 484px 484px;
  animation: moveBackground 30s linear infinite;
  cursor: url("images/cursor.cur"), default;
}

@keyframes moveBackground {
    from { background-position: 0 0; }
    to { background-position: 484px 484px; }
}

button, .lang-switch button, img{
  cursor: url("images/pointer.cur"), pointer;
}

header, .no-link{
  cursor:url("images/not-allowed.cur"), not-allowed;
}

header {
  background-color: rgb(50, 50, 50);
  color:white;
  white-space: nowrap;
  font-family: "Jersey 10", sans-serif;
  position: relative;
  overflow: hidden;
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.05),
    rgba(255,255,255,0.05) 1px,
    transparent 1px,
    transparent 3px
  );
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll 20s linear infinite;
  color: #00ff9c;

}

@keyframes scroll {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

.paper {
    background-color: white;

    /* the “paper” behavior */
    max-width: 700px;      /* stops it growing on big screens */
    width: 100%;           /* lets it shrink on small screens */
    margin: 60px auto;     /* vertical space + centered */

    /* comfort + paper feel */
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.paper p{
  text-align: justify;
  line-height: 1.6; /* improves readability */
}

.paper img {
  max-width: 45%;
  height: auto;
  margin: 20px auto;
}

.lang-switch {
  text-align: center;
  margin: 20px 0;
}

.lang-switch button {
  background: rgb(50, 50, 50);
  color: #00ff9c;
  border: 1px solid #00ff9c;
  padding: 6px 12px;
  margin: 0 5px;
}

.lang-switch button:hover {
  background: #00ff9c;
  color: rgb(50, 50, 50);;
}

.lang {
  display: none;
}

a {
  text-decoration: none;
}